<%= form_with(model: friend) do |form| %>
  <% if friend.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(friend.errors.count, "error") %> prohibited this friend from being saved:</h2>

      <ul>
        <% friend.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3 field form-group">
    <%= form.text_field :first_name, class:"form-control", placeholder:"firstname" %>
  </div>

  <div class="mb-3 field form-group">
    <%= form.text_field :lastname, class:"form-control", placeholder:"lastname" %>
  </div>

  <div class="mb-3 field form-group">
    <%= form.text_field :email, class:"form-control", placeholder:"email" %>
  </div>

  <div class="mb-3 field form-group">
    <%= form.text_field :twister, class:"form-control", placeholder:"twister" %>
  </div>

  <div class="mb-3 field form-group">
    <%= form.text_field :phone, class:"form-control", placeholder:"phone" %>
  </div>

  <div class="actions">
    <%= form.submit class:"btn btn-success"%>
  </div>
<% end %>
